<p id="notice"><%= notice %></p>

<h1>Listing Correlation Collections</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @correlation_collections.each do |correlation_collection| %>
      <tr>
        <td><%= correlation_collection.title %></td>
        <td><%= link_to 'Show', correlation_collection %></td>
        <td><%= link_to 'Edit', edit_correlation_collection_path(correlation_collection) %></td>
        <td><%= link_to 'Destroy', correlation_collection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Correlation collection', new_correlation_collection_path %>
