  <h3>Listing Simulations</h3>
  <table>
    <thead>
      <tr class = "table-header">
        <th>Title</th>
        <th># Paths</th>
        <th>Starting Age</th>

        <th>Retirement Age</th>
        <th>Last Sim Age</th>
        <th>Annual Contribution</th>

        <th>Contribution Growth</th>
        <th>Retirement Draw</th>
        <th>Retirement Draw Growth</th>
        <th>Rebalance Portfolio</th>

        <th>Risk of Ruin</th>
        <th>Status</th>

        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @simulations.each do |sim| %>
        <tr>
          <td><%= sim.title %></td>
          <td><%= sim.number_of_paths %></td>
          <td><%= sim.starting_age %></td>

          <td><%= sim.retirement_age %></td>
          <td><%= sim.last_simulation_age %></td>
          <td><%= '$' + number_with_delimiter(sim.annual_contribution) %></td>

          <td><%= sim.contribution_growth.to_s + '%' %></td>
          <td><%= '$' + number_with_delimiter(sim.retirement_draw) %></td>
          <td><%= sim.retirement_draw_growth.to_s + '%' %></td>
          <td><%= sim.rebalance_flag %></td>

          <td><%= sim.risk_of_ruin.to_s + '%' %></td>
          <td><%= sim.simulation_status %></td>

          <td><%= link_to 'Destroy', sim, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
