<p id="notice"><%= notice %></p>

  <h3>Listing Simulations</h3>
  <table>
    <thead>
      <tr class = "table-header">
        <th>Title</th>
        <th>number_of_paths</th>
        <th>starting_age</th>

        <th>retirement_age</th>
        <th>last_simulation_age</th>
        <th>annual_contribution</th>

        <th>contribution_growth</th>
        <th>retirement_draw</th>
        <th>retirement_draw_growth</th>

        <th>risk_of_ruin</th>
        <th>simulation_status</th>

        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @simulations.each do |sim| %>
        <tr>
          <td><%= sim.title %></td>
          <td><%= sim.number_of_paths %></td>
          <td><%= sim.starting_age %></td>

          <td><%= sim.retirement_age %></td>
          <td><%= sim.last_simulation_age %></td>
          <td><%= sim.annual_contribution %></td>

          <td><%= sim.contribution_growth %></td>
          <td><%= sim.retirement_draw %></td>
          <td><%= sim.retirement_draw_growth %></td>

          <td><%= sim.risk_of_ruin %></td>
          <td><%= sim.simulation_status %></td>

          <td><%= link_to 'Destroy', sim, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
