
  <p id="notice"><%= notice %></p>

  <h3>Listing Asset Types</h3>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Historical std deviation</th>
        <th>Historical average return</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @asset_types.each do |asset_type| %>
        <tr>
          <td><%= asset_type.name %></td>
          <td><%= asset_type.historical_std_deviation %></td>
          <td><%= asset_type.historical_average_return %></td>
          <td><%= link_to 'Show', asset_type %></td>
          <td><%= link_to 'Edit', edit_asset_type_path(asset_type) %></td>
          <td><%= link_to 'Destroy', asset_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Asset type', new_asset_type_path %>
  <div class="cleaner"></div>

